<nav class="navbar  fixed-top navbar-expand-lg navbar-dark bg-dark">

    <div>
        <button
                class="trips-button"
                color="accent"
                mat-button
        >
            My Trips
        </button>
    </div>

    <div class="nav-right-button">
        <button

                color="primary"
                mat-button
        >
            Register
        </button>
        <button

                color="primary"
                mat-button
        >
            Login
        </button>
    </div>


</nav>





