<mat-drawer-container class="trips-container">
    <mat-drawer
            class="trip-select-drawer"
            mode="side"
            opened
    >
        <span
                *ngIf="loggedUserEmail === null"
                class="trip-span"
        >Log in to access trips!</span>
        <span
                *ngIf="trips.length === 0 && loggedUserEmail !== null"
                class="trip-span"
        >No trips available</span>
        <mat-selection-list
                [multiple]="false"
                #list
        >
            <mat-list-option
                    (click)="getExpenses(trip.tripId, list, $event)"
                    *ngFor="let trip of trips"
                    [value]="trip.tripId"
            >
                {{trip.description}}
            </mat-list-option>
        </mat-selection-list>


        <div>
            <button
                    class="trip-button"
                    color="primary"
                    mat-raised-button
                    type="button"
                    (click)="openModal(template)"
            >Add Trip
            </button>

            <ng-template #template>
                <div class="modal-header bg-dark bg-opacity-75 text-light">
                    <h4 class="modal-title">Add Trip</h4>
                    <button
                            type="button"
                            class="close bg-dark text-light"
                            aria-label="Close"
                            (click)="modalRef.hide()"
                    >
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body bg-dark bg-opacity-75 text-light">
                    <div>
                        <label for="initiatedByUserId">Initiated By User ID:</label>
                        <input
                                type="number"
                                id="initiatedByUserId"
                                [(ngModel)]="initiatedByUserId"
                                required
                        >
                    </div>
                    <div>
                        <label for="groupSize">Group Size:</label>
                        <input
                                type="number"
                                id="groupSize"
                                [(ngModel)]="groupSize"
                                required
                        >
                    </div>
                    <div>
                        <label for="description">Description:</label>
                        <input
                                type="text"
                                id="description"
                                [(ngModel)]="description"
                                required
                        >
                    </div>
                </div>
                <div class="modal-footer bg-dark bg-opacity-75 text-light">
                    <button
                            class="btn btn-primary"
                            (click)="createTrip()"
                    >Create
                    </button>
                    <button
                            class="btn btn-secondary"
                            (click)="modalRef.hide()"
                    >Cancel
                    </button>
                </div>
            </ng-template>

            <button
                    class="trip-button"
                    color="primary"
                    mat-raised-button
                    type="button"
                    (click)="openModal(expenseTemplate)"
            >Add Expense
            </button>

            <ng-template #expenseTemplate>
                <div class="modal-header bg-dark bg-opacity-75 text-light">
                    <h4 class="modal-title">Add Expense</h4>
                    <button
                            type="button"
                            class="close bg-dark text-light"
                            aria-label="Close"
                            (click)="modalRef.hide()"
                    >
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body bg-dark bg-opacity-75 text-light">
                    <div>
                        <label for="amountPaid">Amount Paid:</label>
                        <input
                                type="number"
                                id="amountPaid"
                                [(ngModel)]="amountPaid"
                                required
                        >
                    </div>
                    <div>
                        <label for="expenseDescription">Description:</label>
                        <input
                                type="text"
                                id="expenseDescription"
                                [(ngModel)]="expenseDescription"
                                required
                        >
                    </div>
                    <div>
                        <label for="expenseTypes">Type:</label>
                        <select
                                id="expenseTypes"
                                name="expenseTypes"
                                [(ngModel)]="expenseType"
                        >
                            <option
                                    value="personal"
                            >Personal
                            </option>
                            <option value="group">Group</option>
                        </select>
                    </div>
                    <div>
                        <label for="userIds">User IDs:</label>
                        <input
                                type="text"
                                id="userIds"
                                [(ngModel)]="userIds"
                                required
                        >
                    </div>
                </div>
                <div class="modal-footer bg-dark bg-opacity-75 text-light">
                    <button
                            class="btn btn-primary"
                            (click)="createExpense()"
                    >Create
                    </button>
                    <button
                            class="btn btn-secondary"
                            (click)="modalRef.hide()"
                    >Cancel
                    </button>
                </div>
            </ng-template>

        </div>

    </mat-drawer>
    <mat-drawer-content>


        <table
                [dataSource]="expenses"
                class="mat-elevation-z8"
                mat-table
        >
            <ng-container matColumnDef="expense-title">
                <th
                        mat-header-cell
                        *matHeaderCellDef
                >
                    My Expenses
                </th>
            </ng-container>

            <tr
                    mat-header-row
                    *matHeaderRowDef="['expense-title']"
            >
            </tr>
        </table>

        <table
                [dataSource]="expenses"
                class="mat-elevation-z8"
                mat-table
        >

            <th
                    *matHeaderCellDef
                    mat-header-cell
            > ID
            </th>

            <ng-container matColumnDef="expenseId">
                <th
                        *matHeaderCellDef
                        mat-header-cell
                > ID
                </th>
                <td
                        *matCellDef="let expense"
                        mat-cell
                > {{expense.expenseId}} </td>
                <td
                        mat-footer-cell
                        *matFooterCellDef
                > Total
                </td>
            </ng-container>

            <ng-container matColumnDef="amountPaid">
                <th
                        *matHeaderCellDef
                        mat-header-cell
                > Amount Paid
                </th>
                <td
                        *matCellDef="let expense"
                        mat-cell
                > {{expense.amountPaid | currency}}
                </td>
                <td
                        mat-footer-cell
                        *matFooterCellDef
                >
                    {{getTotalCost() | currency}}
                </td>

            </ng-container>

            <ng-container matColumnDef="description">
                <th
                        *matHeaderCellDef
                        mat-header-cell
                > Description
                </th>
                <td
                        *matCellDef="let expense"
                        mat-cell
                > {{expense.description}} </td>
            </ng-container>

            <ng-container matColumnDef="expenseType">
                <th
                        *matHeaderCellDef
                        mat-header-cell
                > Type
                </th>
                <td
                        *matCellDef="let expense"
                        mat-cell
                > {{expense.expenseType}} </td>
            </ng-container>

            <ng-container matColumnDef="insertedDate">
                <th
                        *matHeaderCellDef
                        mat-header-cell
                > Inserted Date
                </th>
                <td
                        *matCellDef="let expense"
                        mat-cell
                > {{expense.insertedDate}} </td>
            </ng-container>

            <ng-container matColumnDef="updatedDate">
                <th
                        *matHeaderCellDef
                        mat-header-cell
                > Updated Date
                </th>
                <td
                        *matCellDef="let expense"
                        mat-cell
                > {{expense.updatedDate}} </td>
            </ng-container>


            <tr
                    *matHeaderRowDef="expenseTableColumns"
                    mat-header-row
            ></tr>
            <tr
                    *matRowDef="let row; columns: expenseTableColumns;"
                    mat-row
            ></tr>
            <tr
                    mat-footer-row
                    *matFooterRowDef="['expenseId', 'amountPaid']"
            ></tr>


        </table>


    </mat-drawer-content>

</mat-drawer-container>
