<mat-card class="register-center-container">
    <form
            (ngSubmit)="register()"
            [formGroup]="registerForm"
            class="example-form"
    >

        <div>
            <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input
                        formControlName="email"
                        matInput
                        placeholder="Email"
                        type="email"
                        autocomplete="on"
                >
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width">
                <mat-label>Password</mat-label>
                <input
                        formControlName="password"
                        matInput
                        placeholder="Password"
                        type="password"
                        autocomplete="on"
                >
            </mat-form-field>
        </div>

        <!--        <div>-->
        <!--            <button-->
        <!--                    class="login-button"-->
        <!--                    [disabled]="registerForm.invalid"-->
        <!--                    color="primary"-->
        <!--                    mat-raised-button-->
        <!--            >Login-->
        <!--            </button>-->
        <!--            <button-->
        <!--                    class="login-button"-->
        <!--                    [disabled]="registerForm.invalid"-->
        <!--                    color="primary"-->
        <!--                    mat-raised-button-->
        <!--            >Register-->
        <!--            </button>-->
        <!--        </div>-->


    </form>
</mat-card>

